*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar-expand-lg{
    background-color: #1abc9c;
}
.navbar p{
    font-size: 25px;
}
.card-body{
    width: 100%;
}
.small{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.card{
    display: inline-block;
}
.container2{
    padding-top: 27px;
    width: 85%;
    margin: auto;
}
.card{
    display: inline-block;
    border: 2px solid black;
    height: 238px;
    overflow: auto;
    border-radius: 2%;
    margin: 37px;
}
#name{  
    margin: 10px;
    text-transform: capitalize;
    font-size: 28px;
}
.secondarybtn{
    position: sticky;
}
.card-title{
    width: 70%;
    display: inline-block;
}
#icon{
    display: inline-block;
    position: absolute;
    right: 8%;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.fa-pencil{
    margin-right: 17px;
    color: #f1c40f;
}
.fa-trash{
    color: #e74c3c;
}
.fa::after{
    content: "";
    position: absolute;
    background-color: aqua;
    width: 55%;
    height: 29px;
    z-index: -1;
    top: 13%;
    /* left: -10%; */
    border-radius: 46%;
    opacity: 0.5;
}
.fa-pencil::after{
    left: -10%;
}
.fa-trash::after{
    left: 59%;
    width: 57%;
    height: 5vh;
    top: 7%;
}

